# RFM 分析
使用 UCI Online Retail 資料集

https://archive.ics.uci.edu/ml/datasets/Online+Retail
參考資料：

https://en.wikipedia.org/wiki/RFM_(market_research)

# RFM 分析
https://github.com/victorgau/BI20201007/blob/master/marketing/RFM%E5%88%86%E6%9E%90.ipynb

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 在colab中可以用這個
# !wget https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx

In [3]:
# 在windows上，用這個試試看
# !curl -o "Online Retail.xlsx" https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx

In [4]:
Retail_df = pd.read_excel("Online Retail.xlsx")

In [5]:
Retail_df['amount'] = Retail_df['Quantity']*Retail_df['UnitPrice']

In [6]:
Retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [7]:
Retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
amount         541909 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.2+ MB

In [8]:
Retail_df['InvoiceDate'].min()

Timestamp('2010-12-01 08:26:00')

In [9]:
Retail_df['InvoiceDate'].max()

Timestamp('2011-12-09 12:50:00')

# Clean null data

In [10]:
# Method1
df = Retail_df[Retail_df['CustomerID'].notnull()]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      406829 non-null object
StockCode      406829 non-null object
Description    406829 non-null object
Quantity       406829 non-null int64
InvoiceDate    406829 non-null datetime64[ns]
UnitPrice      406829 non-null float64
CustomerID     406829 non-null float64
Country        406829 non-null object
amount         406829 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 31.0+ MB

In [ ]:
# Method2
df1=Retail_df.dropna(subset=['CustomerID'])

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      406829 non-null object
StockCode      406829 non-null object
Description    406829 non-null object
Quantity       406829 non-null int64
InvoiceDate    406829 non-null datetime64[ns]
UnitPrice      406829 non-null float64
CustomerID     406829 non-null float64
Country        406829 non-null object
amount         406829 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 31.0+ MB

In [18]:
ref_date = df['InvoiceDate'].max()

In [19]:
ref_date

Timestamp('2011-12-09 12:50:00')

In [20]:
# 計算最近一次購買時間
recency = df['InvoiceDate'].groupby(df['CustomerID']).max()
# 計算購買的次數
frequency = df['InvoiceDate'].groupby(df['CustomerID']).count()
# 計算購買的金額
monetary = df['amount'].groupby(df['CustomerID']).sum()

In [21]:
recency

CustomerID
12346.0   2011-01-18 10:17:00
12347.0   2011-12-07 15:52:00
12348.0   2011-09-25 13:13:00
12349.0   2011-11-21 09:51:00
12350.0   2011-02-02 16:01:00
                  ...
18280.0   2011-03-07 09:52:00
18281.0   2011-06-12 10:53:00
18282.0   2011-12-02 11:43:00
18283.0   2011-12-06 12:02:00
18287.0   2011-10-28 09:29:00
Name: InvoiceDate, Length: 4372, dtype: datetime64[ns]

In [22]:
frequency

CustomerID
12346.0      2
12347.0    182
12348.0     31
12349.0     73
12350.0     17
          ...
18280.0     10
18281.0      7
18282.0     13
18283.0    756
18287.0     70
Name: InvoiceDate, Length: 4372, dtype: int64

In [23]:
frequency

CustomerID
12346.0      2
12347.0    182
12348.0     31
12349.0     73
12350.0     17
          ...
18280.0     10
18281.0      7
18282.0     13
18283.0    756
18287.0     70
Name: InvoiceDate, Length: 4372, dtype: int64

In [24]:
frequency.max()

7983

In [25]:
monetary

CustomerID
12346.0       0.00
12347.0    4310.00
12348.0    1797.24
12349.0    1757.55
12350.0     334.40
            ...
18280.0     180.60
18281.0      80.82
18282.0     176.60
18283.0    2094.88
18287.0    1837.28
Name: amount, Length: 4372, dtype: float64

In [26]:
r_interval = (ref_date - recency).dt.days

# pd.cut

In [34]:
x=range(10)
x_score=pd.cut(x, 5, labels=[5, 4, 3, 2, 1])
x_score

[5, 5, 4, 4, 3, 3, 2, 2, 1, 1]
Categories (5, int64): [5 < 4 < 3 < 2 < 1]

In [27]:
r_score = pd.cut(r_interval, 5, labels=[5, 4, 3, 2, 1])
f_score = pd.cut(frequency, 5, labels=[1, 2, 3, 4, 5])
m_score = pd.cut(monetary, 5, labels=[1, 2, 3, 4, 5])

In [28]:
r_score

CustomerID
12346.0    1
12347.0    5
12348.0    5
12349.0    5
12350.0    1
          ..
18280.0    2
18281.0    3
18282.0    5
18283.0    5
18287.0    5
Name: InvoiceDate, Length: 4372, dtype: category
Categories (5, int64): [5 < 4 < 3 < 2 < 1]

In [32]:
m_score

CustomerID
12346.0    1
12347.0    1
12348.0    1
12349.0    1
12350.0    1
          ..
18280.0    1
18281.0    1
18282.0    1
18283.0    1
18287.0    1
Name: amount, Length: 4372, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [ ]:
f_score

In [30]:
rfm_df = pd.concat([r_score, f_score, m_score], axis=1)
rfm_df.columns = ['r_score', 'f_score', 'm_score']

In [35]:
rfm_df = rfm_df.astype(int)

In [36]:
rfm_df.head()

            r_score  f_score  m_score
CustomerID
12346.0           1        1        1
12347.0           5        1        1
12348.0           5        1        1
12349.0           5        1        1
12350.0           1        1        1

In [37]:
rfm_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 4372 entries, 12346.0 to 18287.0
Data columns (total 3 columns):
r_score    4372 non-null int32
f_score    4372 non-null int32
m_score    4372 non-null int32
dtypes: int32(3)
memory usage: 85.4 KB

# 計算 RFM 總分
兩種方式：

直接評估 R, F, M 的重要性，再做加權平均成為一個數字。
直接串接 R, F, M 各自的值，秀出一個字串。

In [38]:
# 方法一：加權平均
rfm_df['rfm_score'] = rfm_df['r_score'] * 0.5 + rfm_df['f_score'] * 0.3 + rfm_df['m_score'] * 0.2

In [39]:
rfm_df.head()

            r_score  f_score  m_score  rfm_score
CustomerID
12346.0           1        1        1        1.0
12347.0           5        1        1        3.0
12348.0           5        1        1        3.0
12349.0           5        1        1        3.0
12350.0           1        1        1        1.0

In [40]:
rfm_df.sort_values('rfm_score', ascending=False)

            r_score  f_score  m_score  rfm_score
CustomerID
14911.0           5        4        3        4.3
17841.0           5        5        1        4.2
14096.0           5        4        2        4.1
14646.0           5        2        5        4.1
18102.0           5        1        5        3.8
...             ...      ...      ...        ...
12505.0           1        1        1        1.0
12651.0           1        1        1        1.0
14090.0           1        1        1        1.0
15464.0           1        1        1        1.0
12346.0           1        1        1        1.0

[4372 rows x 4 columns]

In [46]:
RFM=rfm_df.sort_values('rfm_score', ascending=False)

In [47]:
RFM

            r_score  f_score  m_score  rfm_score
CustomerID
14911.0           5        4        3        4.3
17841.0           5        5        1        4.2
14096.0           5        4        2        4.1
14646.0           5        2        5        4.1
18102.0           5        1        5        3.8
...             ...      ...      ...        ...
12505.0           1        1        1        1.0
12651.0           1        1        1        1.0
14090.0           1        1        1        1.0
15464.0           1        1        1        1.0
12346.0           1        1        1        1.0

[4372 rows x 4 columns]

In [48]:
RFM.head(10)

            r_score  f_score  m_score  rfm_score
CustomerID
14911.0           5        4        3        4.3
17841.0           5        5        1        4.2
14096.0           5        4        2        4.1
14646.0           5        2        5        4.1
18102.0           5        1        5        3.8
12748.0           5        3        1        3.6
17450.0           5        1        4        3.6
15311.0           5        2        2        3.5
13089.0           5        2        2        3.5
14156.0           5        1        3        3.4

In [49]:
# 方法二：RFM组合
rfm_df_tmp = rfm_df.copy()
rfm_df_tmp['r_score'] = rfm_df_tmp['r_score'].astype('str')
rfm_df_tmp['f_score'] = rfm_df_tmp['f_score'].astype('str')
rfm_df_tmp['m_score'] = rfm_df_tmp['m_score'].astype('str')
rfm_df['rfm_comb'] = rfm_df_tmp['r_score']+rfm_df_tmp['f_score']+rfm_df_tmp['m_score']

In [50]:
rfm_df.head()

            r_score  f_score  m_score  rfm_score rfm_comb
CustomerID
12346.0           1        1        1        1.0      111
12347.0           5        1        1        3.0      511
12348.0           5        1        1        3.0      511
12349.0           5        1        1        3.0      511
12350.0           1        1        1        1.0      111